html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background-color: #fff;
    min-width: 1020px;
    word-wrap: break-word;
}

ul.repo-list {
    font-size: 13px;
    color: #666;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.repo-list > :first-child .mini-repo-list-item {
    border-top: 0;
}

.mini-repo-list-item {
    position: relative;
    display: block;
    padding: 6px 64px 6px 30px;
    font-size: 14px;
    border-top: 1px solid #e5e5e5;
}

a {
    color: #4078c0;
    text-decoration: none;
}

.mini-repo-list-item .repo-icon {
    float: left;
    margin-top: 2px;
    margin-left: -20px;
    color: #666;
}

.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    display: inline-block;
    max-width: 1200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.mini-repo-list-item .repo {
    font-weight: bold;
}

.mini-repo-list-item .stars {
    margin-top: 16px;
}

.mini-repo-list-item .stars {
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 6px;
    font-size: 12px;
    color: #888;
}

.mini-repo-list-item .stars .octicon {
    vertical-align: text-bottom;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.mini-repo-list-item .repo-description {
    display: block;
    max-width: 100%;
    font-size: 12px;
    line-height: 21px;
    color: #767676;
}

.repo-list {
    list-style: none;
}

.boxed-group > h3 {

    display: block;
    padding: 9px 10px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
}

.mini-repo-list-item:hover {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.mini-repo-list-item:hover .repo, .mini-repo-list-item:hover .owner {
    text-decoration: underline;
}

.columns {
    max-width: 1015px;
    margin: 20px auto 30px;
}

.columns::before, .vcard-stats::before {
    display: table;
    content: "";
}

.columns::after, .vcard-stats::after {
    display: table;
    clear: both;
    content: "";
}

.column {
    float: left;
}

.one-fourth {
    width: 25%;
}

.three-fourths {
    width: 75%;
}

.d-block {
    display: block !important;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.rounded-2 {
    border-radius: 6px !important;
}

img {
    border: 0;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.header h1 {
    display: block;
    margin: 0;
    font-size: 25px;
    border-bottom: 0;
    font-weight: bold;
}

.vcard-names {
    line-height: 1;
}

.my-3 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

h1 {
    font-size: 30px;
}

.vcard {
    padding-right: 20px;
}

.vcard-fullname {
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
}

.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}

.vcard-details {
    list-style: none;
}

.py-3 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.border-gray-light {
    border-color: #eee !important;
}

.border-top {
    border-top: 1px #e5e5e5 solid !important;
}

.vcard-detail {
    padding-left: 24px;
    font-size: 14px;
}

.py-1 {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.vcard-detail .octicon {
    float: left;
    width: 16px;
    margin-left: -24px;
    color: #999;
    text-align: center;
}

.vcard-details .css-truncate.css-truncate-target {
    width: 100%;
    max-width: 100%;
}

li.public.source {
    height: 53px;
}

.mb-3 {
    margin-bottom: 12px !important;
}

.border-bottom {
    border-bottom: 1px #e5e5e5 solid !important;
}

.hide {
    display: none;
}

.error > h3 {
    background-color: rgba(255, 0, 0, 0.77) !important;
    color: #fff !important;
    border: 0px !important;
}

.status_container > h3, .quote-item {
    display: block;
    padding: 9px 10px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    font-weight: bold;
}

.muted {
    color: #BFB7B7;
}

.options-content h3 {
    margin: 30px 5px 10px;
    font-size: 15px;
}

.btn {
    width: 300px;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 12px;
    border: 1px solid #333;
    margin: 0 5px;
    background: #fff;
    box-shadow: 2px 2px #B5ACAC;
    outline: 0;
}

.btn:hover {
    text-decoration: none !important;
}

.underline {
    text-decoration: underline;
}

.btn-save {
    display: block;
    text-align: center;
    margin-top: 30px;
    width: 120px !important;
}

.small-muted {
    display: block;
    position: relative;
    top: -6px;
    left: 5px;
    color: #bfb7b7;
}

h3 {
    margin: 30px 5px 10px;
}

input[type=text] {
    width: 300px;
}